*{
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;

}
.container{
    /* background: rgb(238, 225, 225); */
    max-width: 1200px;
    margin: 0 auto;
}
.header__container{
    padding: 0 50px;
    background: rgb(21, 21, 97);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    max-width: 500px;
    justify-content: space-between;
}
.navbar__list{
  display: flex;
  list-style: none;
  text-align: center;
  
}
.navbar__link{
 text-decoration: none;
 padding: 0 30px;
 color: rgba(161, 181, 187, 1);
 font-size: 18px;
}
.header__btn{
    width: 140px;
height: 58px;
border-radius: 25px;
font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
background: rgb(96, 96, 229);
color: rgba(161, 181, 187, 1);
}
.hero__container{
    background: rgb(25, 25, 111);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__btn{
    width: 137px;
height: 61px;
left: 376px;
border-radius: 25px;
background: rgba(255, 166, 58, 1);


}
.hero__btn_name{
    width: 120px;
height: 29px;
top: 752px;
left: 563px;
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: rgb(99, 147, 161);
background: rgb(25, 25, 111);
border: 1px solid transparent;
}
.hero__box{
 margin-left: 100px;
    
}
.hero__title{
    width: 200px;
height: 33px;
top: 269px;
left: 405px;
font-family: Schoolbell;
font-size: 24px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
opacity: 50%;

}
.hero__item{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.services__text{
    text-align: center;
    font-family: Schoolbell;
font-size: 34px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
 color:rgba(38, 90, 106, 1);
}
.services__title{
    font-family: Inter;
font-size: 45px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0em;
 width: 500px;
 margin-left: 380px;
}
.services__list{
    display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.services__item{
    width: 380px;
    height: 270px;
    border: transparent;
}
.services__box_name{
 padding:0 20px;
}
.services__img{
    padding: 20px;
}
.services__title_name{
    font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-align: left;

}
.wrapper__container{
   height: 100px;
   top: -100px;
   width: 800px;
   position:relative;
   background: rgb(221, 140, 140);
}
.wrapper__box{
    position: absolute;
}
.wrapper__list{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.wrapper__item{
    width: 200px;
}


.services__text_name{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

}
.menu__title{
    width: 469px;
height: 57px;
font-family: Inter;
font-size: 45px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0em;
text-align:center;
margin-left: 320px;
color: rgba(8, 84, 108, 1);
;
}
.menu__text{
    width: 569px;
height: 58px;
top: 2236px;
left: 675px;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align:center;
 margin-left: 270px;
}
.menu__list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu__title_name{
    font-family: Inter;
font-size: 30px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: rgb(100, 100, 150);
}
.menu__text_name{
    width: 450px;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: rgba(117, 117, 117, 1);

}
.menu__btn{
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: rgba(8, 84, 108, 1);
border: 1px solid transparent;
}
.section__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(25, 25, 111 );
    padding: 40px;
}
.footer__list{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.footer__item{
    width: 350px;
}
.footer__link{
    display: flex;
    text-decoration: none;
    font-size: 19px;
    color: rgb(143, 125, 125);
}
   
